body {
    font-family: 'Architects Daughter', cursive;
    background-color: #7dfc28;
}

.yellow {
    background-color: #ffbb15;
}

.blue {
    background-color: #009cd6;
}

.green {
    background-color: #7dfc28;
}

.red {
    background-color: #b4003a;
}

.white {
    color: #ffffff;
}

#hidden {
    visibility: hidden;
}

.selection {
    background-color: #009cd6;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #000088;
    box-shadow: 2px 2px 5px #000000;
    margin: 10px;
}

.selection-item {
    background-color: #ffbb15;
    font-size: 24px;
    text-align: center;
}

select {
    background-color: #009cd6;
    border: 0;
    display: inline-block;
    overflow: auto;
}

.btn {
    font-size: 24px;
    border: 1px solid #000088;
    box-shadow: 2px 2px 5px #000000;
    transition-duration: .2s;
}

.navlinks {
    list-style-type: none;
    background-color: #009cd6;
    margin: 10px;
    font-size: 24px;
}

.navitem {
    display: inline-block;
}

.navitem:hover {
    background-color: #ffffff;
}

.question {
    margin: 0 3%;
    text-align: center;
    width: 80%;
    background-color: #ffbb15;
}

.answer {
    display: inline-block;
    font-size: 72px;
    width: 40%;
    height: 200px;
}

.login {
    max-width: 300px;
    margin: 10px auto;
}