<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title>play and learn</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet"/>
  </head>
  <body class="green">
    <h1 class="blue white" style="font-size:72px">Hello! Come, play and learn with us!</h1>
    <h1 class="blue white" style="font-size:16px">Hi, Norbert!</h1>

    <a th:href="@{/login}">login</a>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
  </body>
</html>
