<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bejelentkezés</title>
</head>
<body>
    <!--/*@thymesVar id="loginFormDto" type="com.greenfox.zoroo.model.dto.LoginFormDto"*/-->
    <form th:action="@{/login}" th:object="${loginFormDto}" method="post">
        <div><label> Felhasználónév: <input type="text" th:field="*{username}"/></label></div>
        <div><label> Jelszó: <input type="password" th:field="*{password}"/></label></div>
        <div><input type="submit" value="Bejelentkezés"/></div>
    </form>
</body>
</html>
