<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Játék</title>
    </head>
    <body>
        <p id="hidden" th:text="${user.userId}"></p>
        <p id="hidden" th:text="${question.goodIndex}"></p>
        <h1 th:text="${question.question}">Kérdés</h1>
        <ul>
            <form action="/answer" th:each="answer, iter :${question.possibleAnswers}" id="select">
                <input type="hidden" name="index" th:value="${iter.index}"/>
                <input type="submit" th:value="${answer}"/>
            </form>
        </ul>
    </body>
</html>