<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Játék</title>
        <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet"/>
    </head>
    <body>
        <p id="hidden" th:text="${user.userId}"></p>
        <p id="hidden" th:text="${question.goodIndex}"></p>
        <h1 class="selection question" th:text="${question.questionText}">Kérdés</h1>
        <ul>
            <form style="display:inline" action="/answer" th:each="answer, iter :${question.possibleAnswers}" id="select">
                <input type="hidden" name="index" th:value="${iter.index}"/>
                <input class="selection answer" type="submit" th:value="${answer}"/>
            </form>
        </ul>
        <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    </body>
</html>